<header class="container-fluid header text-white">
    <div class="container row ">
        <h2 class="col-xs-1 col-md-1 col-sm-1">MKart</h2>
        <div class="container col-xs-1 col-md-2 col-sm-3">
            <div>
                <p style="font-size: 13px;">Delivering to {{location}}</p>
            </div>
            <div class="container d-flex header_location">
                <div>
                    <p class="header_location"> <strong> <i class="fa fa-location-dot"></i> Update Location</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class=" container d-flex col-xs-3 col-md-4 col-sm-3">
            <div class="container">
                <div class="container d-flex" style="display: flex; justify-content: center;">
                    <select name="All" id="" style="border:none; outline:none;border-right: 1px solid gray;">
                        <option value="">All</option>
                        <option value="">Laptops</option>
                        <option value="">Mobiles</option>
                    </select>
                    <input type="text" placeholder="Search in Mkart.in" style="border:none; outline:none; width: 80%;">
                    <button style="border:none; outline:none; border-left: 1px solid gray; background-color: white;"> <i
                            class="fa-solid fa-magnifying-glass fa-xl"></i></button>
                </div>
            </div>
        </div>
        <div class="container col-xs-3 col-md-2 col-sm-3 ">
            <div>
                <p>Hello, sign in </p>
            </div>
            <div class="header_location">
                <p> <strong>Accounts & Lists</strong></p>
            </div>
        </div>
        <div class="container col-xs-3 col-md-1 col-sm-2 ">
            <div>
                <p>Returns</p>
            </div>
            <div class="header_location">
                <p> <strong>& Orders</strong></p>
            </div>
        </div>
        <div class="col-md-1">
            <i class="fa fa-flag"></i>
        </div>
        <div class="col-md-1"> <i class="fa fa-cart-shopping"> </i> </div>
    </div>
</header>
<div class="container-fluid navbar navbar-expand-lg navbar-dark bg-warning ">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/laptops" class="nav-link" style="color:black;">Laptops</a>
        </li>
        <li class="nav-item">
            <a routerLink="/mobiles" class="nav-link" style="color:black;">Mobiles</a>
        </li>
    </ul>
</div>