<div class="container row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="" class="form-label"> Username</label>
            <input type="text" class="form-control" [(ngModel)]="uname">
        </div>
        <div class="form-group">
            <label for="" class="form-label"> Password</label>
            <input type="text" class="form-control" [(ngModel)]="pwd">
        </div>
        <div class="form-group">
            <button class="btn btn-success" (click)="logincheck()">Login</button>
            <button class="btn btn-danger m-3">Clear</button>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>