<nav class="navbar navbar-expand-sm bg-warning">
    <div class="container-fluid">
        <a routerLink="" class="navbar-brand">TiltKart </a>
        <ul class="navbar-nav">
            <li class="nav-item"><a routerLink="/dashboard/home" class="nav-link">Home</a></li>
            <li class="nav-item"><a routerLink="/dashboard/manageproducts" class="nav-link">Manage Products</a></li>
            <li class="nav-item"><a routerLink="/dashboard/addproducts" class="nav-link">Add Products</a></li>
            <button class="btn" (click)="logout()">Log out</button>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>